# Dependencies
node_modules

# Build outputs
dist

# Dev/test files
.env
.env.*
*.local

# Editor config
.vscode
.idea
*.swp
*.swo

# OS noise
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log
npm-debug.log*
